In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
dataset = pd.read_csv('Downloads\data_2_var.csv')

In [6]:
dataset.shape

(1110, 2)

In [7]:
(25, 2)

(25, 2)

In [8]:
dataset.head()

   -122.7406674  -130.5720846
0   -121.531419   -129.938929
1   -134.917019   -130.141832
2   -120.605951   -125.760932
3   -129.894781   -112.785214
4   -134.366669   -116.000000

In [9]:
dataset.describe()

       -122.7406674  -130.5720846
count   1110.000000   1110.000000
mean       6.899714    -26.093318
std       79.324069     69.755980
min     -134.962839   -132.422167
25%      -53.366669    -76.994298
50%       15.739103    -46.036319
75%       76.193907      7.598960
max      134.605775    134.425495

In [14]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [18]:
print(regressor.intercept_)

-28.85062036198289

In [19]:
print(regressor.coef_)

[0.38595247]

In [20]:
y_pred = regressor.predict(X_test)

In [21]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

         Actual  Predicted
0    -92.070165 -13.890729
1    -73.600740 -14.824869
2    121.000000 -76.850244
3     92.000000  13.848588
4    -16.318933 -52.316029
..          ...        ...
217   99.764819  19.015812
218  -89.164895  -5.516622
219   89.000000  14.234540
220 -107.850314 -24.657719
221  -67.824317 -11.074300

[222 rows x 2 columns]

In [22]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 49.03184278192943
Mean Squared Error: 4061.945083471838
Root Mean Squared Error: 63.733390647853014